
    <header>
        <nav id="navBar">
            <div id="divLogo">
                <a href="index.html"><img src="assets/logo.png" alt="Logo do site" id="ImgLogo"></a> <!--    Link para a página inicial    -->
                <div id="divMenu">
                    <a routerLink="/home"><ul>Início</ul></a><!--Link para Início-->
                    <a routerLink="/login"><ul id="login">Login</ul></a><!--Link para Login-->
                </div>
            </div> 
        </nav>
    </header>
    <div id="sobre_conteudo">
        <div id="inicio">
            <p id="p1">Sobre</p>
            <p id="p2">
                Nosso projeto foi idealizado por estudantes da Fatec, movidos pela preocupação com os crescentes impactos ambientais e de saúde causados pelo descarte inadequado desses resíduos. Nosso propósito é incentivar as pessoas a se engajarem nessa causa, oferecendo uma solução prática e recompensadora. Ao descartar seu lixo eletrônico nos pontos designados em nossa cidade, você não apenas contribui para a preservação do meio ambiente, mas também acumula pontos que podem ser trocados por benefícios incríveis, como ingressos para shows emocionantes. Junte-se a nós nessa jornada rumo a um futuro mais sustentável e desfrute dos benefícios de fazer a diferença!
            </p>
        </div>
        <div id="ilustracao">
            <img src="" style="width: 450px;" alt="">
        </div>
    </div>
    <div id="rodape">
        <footer>
            <div>
                <span id="copy" style="background: white;">© 2023 Ecosrev</span>
                <div id="icons">
                    <a href=""><i class="fa-brands fa-instagram foo" style="color: rgba(87, 87, 87, 0.7);"></i></a>
                    <a href=""><i class="fa-brands fa-facebook-f foo" style="color: rgba(87, 87, 87, 0.7);"></i></a>
                    <a href=""><i class="fa-brands fa-twitter foo" style="color: rgba(87, 87, 87, 0.7);"></i></a>
                    <a href=""><i class="fa-brands fa-github foo" style="color: rgba(87, 87, 87, 0.7);"></i></a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>


